@*@model IEnumerable<EnjuAihara.EntityFramework.MenuModel>*@
@model IEnumerable<EnjuAihara.ViewModels.Permission.MenuViewModel>
@{ 
	var CurrentUser = (EnjuAihara.EntityFramework.AccountModel)ViewBag.CurrentUser;

	var InspectElement = Convert.ToBoolean(ViewBag.InspectElement);
}
<div class="sidebar">
	<div class="user-panel mt-3 pb-3 mb-3 d-flex">
		<div class="image">
			<img src="@CurrentUser.ImagePath" class="img-square elevation-2" alt="User Image">
		</div>
		<div class="info">
			<a href="#" class="d-block">@CurrentUser.UsersModel.LastName @CurrentUser.UsersModel.FirstName</a>
		</div>
	</div>
	<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

			@foreach (var i in Model)
			{
				if (i.Pages.Count > 0 && i.Pages != null)
				{
					<li class="nav-item">
						<a href="#" class="nav-link">
							<i class="@i.Icon"></i>
							<p>
								@i.MenuName
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							@foreach (var j in i.Pages.Where(x => x.Actived == true).OrderByDescending(x => x.OrderIndex).ToList())
							{
								<li class="nav-item">
									<a href="@j.PageUrl" class="nav-link" style="margin-left:10px" target="_blank">
										<i class="@j.Icon"></i>
										<p style="margin-left:5px">@j.PageName</p>
									</a>
								</li>
							}
						</ul>
					</li>
				}
			}
			<li class="nav-item">
				<button class="nav-link" onclick="Logout()">
					<i class="fa-solid fa-right-from-bracket"></i>
					<p>Đăng xuất</p>
				</button>
			</li>
		</ul>
	</nav>
</div>
@if (InspectElement == false)
{
	<script type="text/javascript">
		document.addEventListener('contextmenu', function (e) {
			e.preventDefault();
		});
		document.onkeydown = (e) => {
			if (e.ctrlKey && e.shiftKey && e.key == 'I') {
				e.preventDefault();
			}
			if (e.ctrlKey && e.shiftKey && e.key == 'C') {
				e.preventDefault();
			}
			if (e.ctrlKey && e.shiftKey && e.key == 'J') {
				e.preventDefault();
			}
			if (e.ctrlKey && e.key == 'U') {
				e.preventDefault();
			}
			if (e.keyCode == '123') {
				e.preventDefault();
			}
		};
	</script>
}