@model EnjuAihara.EntityFramework.UsersModel
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Chỉnh sửa @Model.FirstName @Model.LastName</h1>
			</div>
			<div class="col-sm-6 text-right">
				<div class="pull-right">
					<a class="btn btn-info" href="/MasterData/User"><i class="fa-solid fa-arrow-rotate-left"></i>Quay lại</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<form id="frmEdit" enctype='multipart/form-data'>
		<div class="row">
			@Html.HiddenFor(x => x.UserID)
			<div class="col-md-3">
				<div class="card h-100">
					<div class="card-body">
						<img id="Img" src="@Model.ImagePath" class="card-img-top" />

						<div class="row mt-2 text-center">
							<label for="Avatar" class="col-form-label">Thay đổi ảnh</label>

							<input type="file" id="Avatar" name="Avatar" class="form-control">
						</div>
						<div class="btn-group mt-2" style="width:100%">
							<a class="btn btn-default btn-block" id="Reset-Avatar">Đặt lại ảnh gốc</a>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-9">
				<div class="card h-100">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="AccountCode" class="col-form-label">Mã người dùng</label>
									</div>
									<div class="col-md-10">
										@Html.TextBoxFor(x => x.UserCode, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
									</div>
								</div>
							</div>
							<div class="col-md-12 mt-3">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="LastName" class="col-form-label">Họ người dùng</label>
									</div>
									<div class="col-md-10">
										@Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
									</div>
								</div>
							</div>

							<div class="col-md-12 mt-3">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="FirstName" class="col-form-label">Tên người dùng</label>
									</div>
									<div class="col-md-10">
										@Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
									</div>
								</div>
							</div>

							<div class="col-md-12 mt-3">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="FirstName" class="col-form-label">Ngày sinh</label>
									</div>
									<div class="col-md-10">
										@Html.TextBox("Birthday", ((DateTime)Model.Birthday).ToString("yyyy-MM-dd"),new { @class = "form-control", @type = "date" })
									</div>
								</div>
							</div>

							<div class="col-md-12 mt-3">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="Address" class="col-form-label">Địa chỉ</label>
									</div>
									<div class="col-md-10">
										@Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
									</div>
								</div>
							</div>

							<div class="col-md-12 mt-3">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="Phone" class="col-form-label">Điện thoại</label>
									</div>
									<div class="col-md-10">
										@Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
									</div>
								</div>
							</div>


							<div class="col-md-12 mt-3">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="Email" class="col-form-label">Email</label>
									</div>
									<div class="col-md-10">
										@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
									</div>
								</div>
							</div>

							<div class="col-md-12 mt-3">
								<div class="row g-3 align-items-center">
									<div class="col-md-2 text-center">
										<label for="Actived" class="col-form-label">Trạng thái</label>
									</div>
									<div class="col-md-10">
										@Html.ActivedRadioButton(x => x.Actived)
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 15px">
							<div class="col-md-12 text-center">
								<button type="button" class="btn btn-primary" id="btn-edit" style="width:20%">
									Lưu
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function () {

		$("#Avatar").change(function () {
			PreviewImg(this, "#Img");
		});

		$("#Reset-Avatar").on("click", function () {
			$("#Img").attr('src', "@Model.ImagePath");
			$("#Avatar").val('');
		});


		$("#btn-edit").on("click", function () {
			Edit("MasterData/User", "#frmEdit");
		});
	});
</script>

